body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  margin-right: 5px;
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand img {
  margin-right: 5px;
}

.create-post textarea {
  min-height: 350px;
}

.notifications a {
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.post-list-item {
  text-decoration: none;
  color: black;
}

.post-list-item:hover {
  text-decoration: none;
  color: #505057;
}

.post-list-item:hover .card{
  background-color: #F8F9FA;
}