body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  margin-right: 5px;
  font-family: 'Quicksand', sans-serif;
}

.navbar-brand img {
  margin-right: 5px;
}
